export(teigen)
import(parallel)
S3method(plot, teigen)
S3method(summary, teigen)
S3method(print, summary.teigen)
S3method(print, teigen)
useDynLib(teigen, mymaha)
useDynLib(teigen, mycovwt)
importFrom("grDevices", "rainbow", "rgb", "adjustcolor", "dev.off")
importFrom("graphics", "contour", "curve", "par", "plot", "title", "legend", "lines")
importFrom("stats", "cov.wt", "density", "dnorm", "kmeans", "na.omit", "runif", "uniroot", "mahalanobis")
importFrom("utils", "flush.console", "menu")